<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>家家发下单系统</title>
    <link rel="icon" href="/static/image/user_com.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/css/user_login.css">
</head>

<body>

<div class="container">
    <div class="left">
        <div class="header">
            <h2 class="animation a1">家家發店主欢迎回来</h2>
            <h4 class="animation a2">使用账号及密码登入你的帐户</h4>
        </div>
        <div class="form layui-form" action="">
            <div style="display: none">
                <div >
                    <input type="text" name="image_real" id="image_real" value="{{ code }}">
                </div>
            </div>

            <input type="text" class="form-field animation a3 input-cname" name="user_name" id="user_name" placeholder="登录账号" lay-verify="required" >
            <input type="password" class="form-field animation a4 input-cname" name="pass_word" placeholder="登录密码" lay-verify="required" >
            <div style="display:{{ drop_status }};" id="drop">
                <input type="text" class="form-field animation a4 input-cname" name="image_code" style="width: 120px" placeholder="验证密码" maxlength="5">
                <span style="opacity: 1;float: right; padding-top: 20px">
                    <img src="{{ img }}" alt="验证码图片" title="点击再换一张" id="valid-img">
      </span>
            </div>
            <button class="animation a6" lay-submit lay-filter="login">登录</button>
        </div>
    </div>
    <div class="right"></div>
</div>
<script src="/static/layui/layui.all.js"></script>
<script>
    var $ = layui.jquery,
        form = layui.form;

    $("#valid-img").click(function () {
        $.ajax({
            type : 'GET',
            url : '/img_code/?height=46',
            beforeSend:function () {
                layer.load({shade: false})
            },
            success : function(data) {
                // 成功提示框
                if (data.code == 0){
                    var src=data.data.src,
                        strimg=data.data.string;
                    $("#valid-img").attr('src', src);
                    $("#image_real").val(strimg);

                }else if(data.code == 502){
                    parent.layer.msg(data.msg, {
                        icon : 5
                    });
                }
            },
            error : function(data) {
                // 异常提示
                parent.layer.msg('出现网络故障', {
                    icon : 5
                });
            },complete:function () {layer.closeAll();}
        });
    });

    $(".input-cname").keypress(function (e) {
        if (e.which == 13) {
            var user_anme = $("input[name='user_name']").val(),
                pass_word = $("input[name='pass_word']").val(),
                img_code = $("input[name='image_code']").val(),
                image_real = $("input[name='image_real']").val();

            var data = {'image_real' : image_real, 'user_name' : user_anme, 'pass_word': pass_word, 'image_code' : img_code};
            var data_info = {data:JSON.stringify(data)};
            $.ajax({
                type : 'POST',
                url : '/login/',
                data : data_info,
                dataType : 'json',
                success : function(data) {
                    // 成功提示框
                    if (data.code == 0){
                        /*
                        parent.layer.msg('登录成功!', {
						icon : 6,
					});*/
                        location.href='/index/'; //关闭弹框
                    }else if(data.code == 502){
                        parent.layer.msg(data.msg, {
                            icon : 5
                        });
                    }else if (data.code == 501){
                        document.getElementById('drop').style.display = 'block';
                        parent.layer.msg(data.msg, {
                            icon : 5
                        })
                    }
                },
                error : function(data) {
                    // 异常提示
                    parent.layer.msg('出现网络故障', {
                        icon : 5
                    });
                }
            });
            return false;
        }
    });


    form.on('submit(login)',function (data) {
        var data_info = {data:JSON.stringify(data.field)};
        $.ajax({
            type : 'POST',
            url : '/login/',
            data : data_info,
            dataType : 'json',
            success : function(data) {
                // 成功提示框
                if (data.code == 0){
                    /*
                    parent.layer.msg('登录成功!', {
                    icon : 6,
                });*/
                    location.href='/index/'; //关闭弹框
                }else if(data.code == 502){
                    parent.layer.msg(data.msg, {
                        icon : 5
                    });
                }else if (data.code == 307){
                    location.href = '/user/material/?name='+ $("#user_name").val()
                }else if (data.code == 501){
                    document.getElementById('drop').style.display = 'block';
                    parent.layer.msg(data.msg, {
                        icon : 5
                    })
                }
            },
            error : function(data) {
                // 异常提示
                parent.layer.msg('出现网络故障', {
                    icon : 5
                });
            }
        });
        return false;
    });

</script>

</body>
</html>
